/* General */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a{
    text-decoration: none;
}
.clear{
    clear: both;
}

.toblock{
    display: block;
}
/* container */
.container{
    width:100%;
    margin:auto;
    background-color: #fff;
	 margin-top: 2%;
}
/* fonts */
@font-face{
    font-family: Cairo;
    src: url(../fonts/Cairo-Black.ttf);
}
@font-face{
    font-family: Changa;
    src: url(../fonts/static/Changa-ExtraBold.ttf);
}
@font-face {
    font-family: semiBold;
    src: url(../fonts/Cairo/Cairo-SemiBold.ttf);
 }
 @font-face {
    font-family: bold;
    src: url(../fonts/Cairo/Cairo-Bold.ttf);
 }
@font-face {
    font-family: regular;
    src: url(../fonts/Cairo/Cairo-Regular.ttf);
  }
@font-face{
    font-family: Cairo;
    src: url(../fonts/Cairo-Black.ttf);
}
@font-face{
    font-family: Amiri;
    src: url(../fonts/Amiri-Bold.ttf);
}
/*end fonts*/
/* header */
.main-header{
    height: 200px;
    padding-top: 12px;
}
.header{
    width:100%;
}
.header .header-img{
    display: block;
    text-align: center;
}
.header .header-title{
    text-align: center;
}
.header-img .head-img{
    border-radius: 12px;
}
.main-title{
    color: #575a89;
    font-family: 'Changa', sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.sub-title{
    color: #d4294b;
    font-family:'Changa';
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    border-bottom: solid 3px #d4294b;
}
.navicon {
    color: #FFF;
    font-size: 25px;
    line-height: 1.5;
}
.nav-list {
    display: none;
    height: 100vh;
    background: #d4294b;
}
.navicon:hover {
    cursor: pointer;
}
.head-nav{
    height: 100vh;
    
}
.main-nav{
    width: 55px;
    background: #d4294b;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    line-height:3;
    padding: 15px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    transition: width .5s;
}
.main-nav .nav-list .navitem{
    font-size: 15px;
    font-family: 'Cairo';
    color: #fff;
}
.main-nav .nav-list .navitem:hover{
    color: #575a89;
}
.main-nav:hover{
    width: 180px;
}
.main-nav:hover .nav-list{
    display: block;
}
.author{
    position: fixed;
    left: 25px;
    bottom: 50%;
    /* bottom: 50; */
}
/* main */
main{
    min-height: 90vh;
}
.image{
    height: 230px;
    width: 230px;
    border-radius: 30px;
    background-color: #ededed;
    border: solid 2px #ededed;
    margin: auto;
}
.image:hover{
    cursor: pointer;
    background-color: #f1f3f4;
}
.image:hover .sec-img{
    width: 100px;
    height: 100px;
}
#sections .section .sec-img{
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 38px;
}
.section{
    text-align: center;
}
 .top-secs{
    margin-top: 80px;
    text-align: center;
    margin-right: 121px;
}
#sections .top-secs .section{
    float: right;
    width: 30%;
}
#sections .bottom-secs{
    margin-top: 5%;
    text-align: center;
    margin-right: 121px;
    
}
#sections .bottom-secs .section{
    float: right;
    width: 30%;
}
.sec-name{
    font-size: 20px;
    font-family: 'Cairo';
    color: #484165;
    margin-top: 5px;
	color: #575a89;
}
.gethup:hover .name{
    cursor: pointer;
    color: #dbc7c7;
    color: #E68181;
}
.name{
    color: #d4294b;
    text-align: center;
    height: 26px;
    line-height: 1.2;
    border-radius: 10px;
    margin: 10px auto;
    font-size: 43px;
    font-weight: bold;
}
footer{
    height: 10vh;
    margin-top:5%;
    position: relative
}
.copyright{
    padding: 12px;
    color: #484165;
    border-top: solid #d4294b 2px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 15px;
    font-weight: bold;
    background-color: #EEEEEE;
}
/* --- About --- */
/*section*/
.main-container,.sub-container{
    width: 100%;
    clear: both;
    margin: 0 auto;
}
.sub-container{
    margin-top: 270px;
}
.cororna-def,.description{
    width: 100%;
    height: 45%;
}
.main-para{
    margin-top: 4%;
}
/*Parts*/
.about-container{
    width:70%;
    float: right;
    /* margin-top: 40px; */
}
.corona-image{
    width:30%;
    float: left;
}
.corona-virus{
    width:60%;
    height: 100%;
    float: left;
}
.corona-video{
    width:40%;
    height: 100%;
    float: right;
}
/*End first topic in general */
/*Start sub heading */
.sub-head{
    color: #d4294b;
    font-size: 25px;
    margin-right:40px;
	font-family: 'Changa', sans-serif;
	font-weight:bold;
}
.sub-head:hover{
  
    cursor: pointer;
}
.sub-head i{
    color: white;
    background-color: #d4294b;
    margin-top: 15px;
    border-radius: 50%;
    font-size: 32px;
    margin-left: 10px;
}
/*End sub heading */
/*Paragrphs*/
.about-corona{
    color:#1a1919;
    font-size: 15px;
    font-family: 'Amiri';
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 40px;
    margin-right: 70px;
    padding: 10px;
}
.corona-para{
    color:#1a1919;
    font-size: 17px;
    font-family: 'Amiri';
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 40px;
    margin-right: 30px;
    margin-top:27px;
    padding: 10px;
	text-align:justify;
}
/*End first topic */
/*Start Image topic*/
.sub-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20%;
    padding: 5px;
	margin-top: -25px;
}

/*End Image topic*/
/*Start link*/
.link:link {
    color: #d4294b;
}
.link:visited {
    color: blue;
}
.link:hover {
    color: #d4294b;
}
.link:active {
    color: blue;
}
/*End link*/
/*Start Video topic*/
.sub-video{
    width: 350px;
    height: auto;
    border: 1px solid rgb(203, 231, 212);
    padding: 5px;
    border-radius: 50px;
    margin-top: 40px;
    margin-right: 50px;
}

/*End Video topic*/

/*** statistics ***/
.statistics{
    width: 90%;
    margin: 0 auto;
    padding: 30px 20px;
}
.topic-title{
    text-align: center;
    margin-bottom: 5%;
    color:#ff7f76;
	font-size: 25px;
	font-family: 'Changa', sans-serif;
	font-weight:bold;
}
.statistics-info{
    display: flex;
    justify-content: space-between;
}
.statistics-data{
    width: 40%;
    color: gray;
    font-family:semiBold;
}
.statistics-data-title, .Main__Title-xz49ti-1 ,.ePvwlG{
    font-family:semiBold;
    text-align: center;
    color: #575a89;
    margin-bottom: 2% !important;
    margin-top:0 !important; 
	font-family: Cairo;
	font-size: 20px !important;
}
.statistics-desc{
    margin-top: 50px !important;
}
.statistics-desc p{
    border-right: solid #d4294b 4px;
    padding-right: 12px;
    margin: 10px 0px 12px 0px;
    transition: all 0.5s ease;
    cursor:grab;
	color: black;
    font-size: 15px;
    font-family: 'Amiri';
    font-weight: bold;
}
.statistics-desc p:hover{
    color: #000;
    border-right: solid #f68f87 4px;
}
.statistics-sub-title{
    color: #d4294b;
    font-family:semiBold;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}
.statistics-img{
    display:block;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    border: solid #d4294b 3px;
    transition: all 0.5s ease;
    cursor:grab;
}
.statistics-img:hover{
    transform: scale(1.2)
}
.statistics-widget{
    width: 50%;
}

 /* --- Questions --*/
h4 {
	margin-bottom: 2%;
	color: #d4294b;
 	font-size: 25px;
	font-family: 'Changa', sans-serif;
	font-weight:bold;
}

h5 {
margin-bottom: 4%;
    font-size: 20px;
    font-family: Cairo;
    color: #575a89;
 
}
.accordion{
 display:flex;
}
.accordion-header {
 background-color: transparent;
 border: 0;
 padding: 0;
}
.accordion-header:hover{
	cursor:pointer;
}
.accordion-header p {
 
 font-size: 15px;
 text-align: right;
 font-family: inherit;
 font-weight: bold;
 background-color: #Fff;
 display: block;
 padding: 12px 10px 7px 10px;
 border-radius: 45px;
 color:#000;
 display:inline;
 font-family:'Amiri';
}

.accordion-card {
 border: 0;
 -webkit-box-shadow: 0px 0px 20px 0px rgba(72, 88, 238, 0.2);
  box-shadow: -1px 1px 10px 0px rgba(72, 88, 238, 0.17);
 text-align: right;
 border-radius: 45px;



}
.text-center{
text-align:center;	
}
.accordion-body {
 color: #000;
 font-family: 'Open Sans', sans-serif;
 font-size: 15px;
 line-height: 28px;
 padding: 15px 26px 20px;
 border-top: 2px solid #d4294b;
 font-weight: 300;
 margin-top: 4%;
}
.accordion-header.active a {
 border-radius: 45px 45px 0 0;
}

.accordion-ul {
list-style: none;
margin: 0;
padding: 0;
width: 46%;
margin: 1%;
}
.question-icon{
 color: #d4294b;
 display:inline;
}
.accordion-ul li {
 margin: 3%;
 padding: 10px 30px;

}
.accordion-ul.active a {
 border-radius: 45px 45px 0 0;
}

.accordion-ul .faq div {
display: none;

}

.accordion-ul li.active .faq div {
display: block;
    text-align: justify;
}

/* --- Advice ---*/

.coroo-advice {
    padding: 15px;;
}
.advice-title{
    margin-top: 3%;
    margin-bottom: 5%;
    text-align: center;
}
.img-coadvice{
	width: 300px;
}
.advice-contant{
    display:flex;
    justify-content: space-between;
	font-weight: bold;
    font-family: Amiri;
    font-size: 16px;
}
.list-advice{
	width:70%
	
}
.img-advice{
	width: 30%;
    margin-top: -35px;
    margin-left: 10%;
}
.check-icon{
	color: #d4294b;
    margin: 1%;	
    margin-right: 5%;
    font-size: 20px;
}

/* --- Care --- */

.patient-care{
    padding: 20px;
}
.care-section{
    width: 95%;
    margin: 0 auto;
}
.patient-care li{
    margin-top: 15px;
    border-right: 3px #d4294b solid;
    padding-right: 12px;
	font-size: 15px;
    font-family: Amiri;
    font-weight: bold;

}
.patient-care ul{
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: justify;
    margin-bottom: 20px;
 }
 .first-list{
     float: right;
     width: 60%;
     margin-left: 30px;
     margin-top: 40px; 
 }
 .second-list{
    float: left;
    width: 60%;
    margin-right: 20px;
    margin-top: 20px;
 }
 .clear{
     clear: both;
 }
.how-care{
    font-size: 14pt;
    font-weight: bold;
}
.care-imgs{
    height: 300px;
    padding-top:50px;
    width: 30%;
    overflow: hidden;
}
.care-img{
   width: 100%;
   height: 200px;
   margin:  auto;
   display: block;
   border: #d4294b solid 2px;
    border-radius: 12px;
    transition: all 500ms;
    opacity: 0.7;
}
.care-img:hover{
   opacity: 1;
 }

 /* --- Prevention --- */
 .container-topic{
    width: 95%;
    margin: 0 auto;
    padding: 30px 20px;
}
.topic-title{
    text-align: center;
    margin-bottom: 5%;
    color:#d4294b;
	font-size: 25px;
	font-family: 'Changa', sans-serif;
	font-weight:bold;
}
.topic-content{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.prevention-box{
    padding:30px 20px;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    background: #fff;
    transition: all 0.3s ease-in;
}
.first-line{
    width: 390px;
}
.prevention-box:hover{
    box-shadow: 0px 0px 16px 4px rgba(239, 141, 162, 0.29);
    cursor: pointer;
}
.prevention-box:hover .prevention-title{
    color: #d4294b;
}
.prevention-box img{
    height: 70px;
    display: inline-block;
    width: 70px;
    border-radius: 12px;
}
.first-line img{
    height: 100px;
    width: 100px;
}
.prevention-info{
    margin-top: 12px;
}
.prevention-title{
    transition: all 0.3s ease-in;
	color: #000;
    font-family: Amiri;
    font-size: 18px;
}
.prevention-desc{
    color: gray;
    font-family: regular;
}


/*--- syndrome ---*/
.syndrome{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10%;
}
.syndrome-title{
    text-align: center;
    margin: 5% 0px 5% 0px;
    color:#d34360;
	font-size: 25px;
	font-family: 'Changa', sans-serif;
	font-weight:bold;
	
}
.compare-title{
    text-align: center;
    font-family: bold;
    font-size: 20px;
	color: #575a89;
    font-family: Cairo;
}
.comparison-title{
    text-align: center;
    margin: 5% 0px 5% 0px;
    color:#818384e6;
	font-size: 25px;
	font-family: 'Changa', sans-serif;
	font-weight:bold;
}
.syndrome-item {
    width: 100px;
    position: relative;
  }
  
  .syndrome-img {
    opacity: 0.4;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
  }
  
  .syndrome-desc {
    transition: .5s ease;
    opacity: 1;
    width: 100%;
    text-align: center;
  }
  
  .syndrome-item:hover .syndrome-img {
    opacity: 1;
  }
  

  .syndrome-text {
    color: #d34360;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Amiri';
    font-weight: bold;
  }

  /* --- Comparison --- */
  .comparison-data{
      /* display: flex;
      justify-content: space-around; */
  }
  .comparison-data p{
      display: block;
      font-size: 15px;
      text-align: center;
  }

  .compare-item{
      display: flex;
      width: 70%;
      margin: 0 auto;
      justify-content: space-around;
      border-bottom: #ddd dashed 2px;
      padding-top: 12px;
  }
  .compare-item p{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .compare-item-img{
      width: 100px;
      color: #4d4d4d;
	  text-align: center;
  }
  .compare-img{
      width: 50px;
      margin: 0 auto;
      display: inline-block;
  }
  .danger{
      color: red;
      font-size:20px;
  }
  .normal{
      color:rgb(201, 174, 23);
      font-size:20px;
  }
  .safe{
    color: green;
    font-size:20px;
}
.hint-true{
    float: right;
    width: 33.3333%;
  }
  .hint-icon{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -15px;
    border-radius: 8px;
    margin-right: 33%;
  }
  .hint-name{
      font-family: 'Amiri';
      color: #000;
      font-size: 15px;
  }
/* ---  Pop Up   --- */

.popup {
    margin: 3% auto;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    width: 90%;
    position: relative;
    transition: all 0s ease-in-out;
    overflow:hidden;
    text-align: right;
  }
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 500ms;
    visibility: hidden;
    opacity: 0;
    overflow: auto;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popup .popup-close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 25px;
    color: #d4294b;
  }
  .popup .popup-close:hover {
    color: #dbc7c7;
  }

